.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	transition: 0.3s ease-in-out;
}

.icon-ArrowsDownUp {
	font-size:(14/20)*1rem;
	width:(12/14)*1em;
}

.icon-arrow_down {
	font-size:(6/20)*1rem;
	width:(8/6)*1em;
}

.icon-checkbox {
	font-size:(10/20)*1rem;
	width:(13/10)*1em;
}

.icon-completeOrders {
	font-size:(20/20)*1rem;
	width:(20/20)*1em;
}

.icon-createVacancy {
	font-size:(20/20)*1rem;
	width:(20/20)*1em;
}

.icon-descriptionVacancy {
	font-size:(26/20)*1rem;
	width:(26/26)*1em;
}

.icon-payVacancy {
	font-size:(30/20)*1rem;
	width:(30/30)*1em;
}

.icon-telegram {
	font-size:(22/20)*1rem;
	width:(22/22)*1em;
}

.icon-trashcan {
	font-size:(22/20)*1rem;
	width:(20/22)*1em;
}

.icon-wallet {
	font-size:(25/20)*1rem;
	width:(24/25)*1em;
}

